.experience {
  background-color: var(--secondary-color);
}
.experience__container {
  grid-template-columns: 1fr;
  row-gap: 2em;
}

.exp__item {
  border: 2px solid var(--border-color);
  position: relative;
  padding: 2em;
}
.exp__icon {
  background-color: var(--primary-color);
  border: 1px solid var(--text-color);

  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: absolute;
  top: 100%;
  left: 100%;
  transform: translate(-50%, -50%);
  z-index: 10;
  font-size: var(--body-large-font-size);
}
.exp__date-title {
  margin: 1em 0;
  display: flex;
  justify-content: space-between;
}
.exp__date {
  text-transform: uppercase;
}

@media screen and (min-width: 992px) {
  .experience__container {
    grid-template-columns: 1fr 1fr;
    column-gap: 2em;
  }
}
